body {
    font-family: 'Inconsolata', monospace;
    color: white;
    font-size: 10px;
}

#action-box {
    background-color: #09b2cb;
    border-radius: 30px;
    padding: 2em;
    margin-top: 4%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

h4 {
    padding-top: 10px;
}

a {
    color: white;
}

.logo {
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
    padding-top: 10px;
    padding-left: 10px;
}

p {
    font-size: 1.5em;
    margin-bottom: 0px;

    padding-top: 15px;
    padding-bottom: 15px;
}

.frame {
    border-radius: 30px;
    border-style: solid;
    border-color: white;
}

.online {
    background-color: #16C172;
    border-radius: 30px;
    margin-bottom: 1em;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.offline {
    background-color: #F8333C;
    border-radius: 30px;
    margin-bottom: 1em;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.error {
    border-radius: 30px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}