body {
    font-family: 'Inconsolata', monospace;
    color: white;
    font-size: 10px;
}

#action-box {
    background-color: #09b2cb;
    border-radius: 30px;
    padding: 2em;
    margin-top: 4%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.logo {
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
}



p {
    font-size: 1.5em;
    margin-bottom: 0px;

    padding-top: 15px;
    padding-bottom: 15px;


}